.pagination{
  margin:24px 0;
  @include media('<desktop') {
    margin: 20px 0;
  }
  @include media('<tablet') {
    margin: 10px 0;
  }
  li {
    a {
      border-radius:0!important ;
      border-width: 2px;
      margin: 4px;
      width: 30px;
      height: 30px;
      font-size: 12px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @include animate(border-color);
    }
  }
}