#header {
    padding: 52px 0 55px;
    .navbar {
        border: none;
    }
    .navbar-brand {
        margin-top: 2px;
    }
    .caret {
        width: 5px;
        height: 5px;
        margin-left: 2px;
        vertical-align: middle;
        border: none;
        transform: rotate(-135deg) translateY(50%);
        border-top: 1px solid currentColor;
        border-left: 1px solid currentColor;
    }
            .open .caret{
                transform: rotate(-45deg) translateY(50%);
            }
    .navbar-nav {
        padding: 9px 10px 0 0;
        li {
            padding: 0 10px;
            &.active a:before {
                content: '';
                width: 10px;
                position: absolute;
                bottom: -2px;
                left: 2px;
                height: 2px;
                background-color: #e24545;
            }
        }
        a {
            position: relative;
            font-weight: bold;
            font-size: 13px;
            text-transform: uppercase;
        }
    }
    .navbar-form {
        position: relative;
        padding-top: 9px;
        .form-wrapper {
            border: 1px solid $gray-light-2;
            border-radius: 5px;
            overflow: hidden;
            position: absolute;
            top: 100%;
            right: 0;
        }
        .form-group {
            padding: 10px;
            width: 250px;
            display: inline-block;
            display: flex;
            input {
                height: 30px;
                ;
            }
            button {
                flex-grow: 1;
                text-transform: uppercase;
                padding: 2px;
                font-size: 10px;
                font-weight: 800;
            }
        }
    }

    .basket-box {
        margin:0 10px 0 50px;
        border: 2px solid #444;
        padding: 9px 30px 5px 16px;
        display: flex;
        align-items: center;
        font-size-adjust: 15px;
        position: relative;
        .total {
            max-width: 130px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            white-space: nowrap;
        }
        .quantity {
            height: 22px;
            width: 22px;
            text-overflow: ellipsis;
            display: block;
            background-color: $black;
            color: $white;
            line-height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(50%, -50%);
            font-size: 11px;
            &:after {
                content: '';
                position: absolute;
                top: -4px;
                bottom: -4px;
                pointer-events: none;
                border: 4px solid $white;
                left: 0px;
                right: 0px;
                border-left: none;
                border-right: none;
                z-index: 99;
            }
        }
        i {
            margin-right: 9px;
        }
        img {
            vertical-align: top;
        }
    }
}